
{% extends "base.html" %}

{% block how_play %}
<h2>How to play to Rock Paper Scissors:</h2>

<p>
Decide who is playing what! You would need to write in the url each player's pick and the website will prompt you with the winner. 
</p>

<p> Here, the players!!:</p>
    <ul>
        {% for player in players %} 
        <li>
            {{player.name}}
        </li>
        {% endfor %} 
    </ul>

<p>For example: If you want Pepe playing rock and Manoli playing paper you will to add in the url:  /rock/paper</p>
<p>Enjoy</p>
{% endblock how_play %}
