
{% extends "base.html" %}

{% block intruccions %}
<h1>How to play to Rock Paper Scissors</h1>

<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, quasi aspernatur. Error nesciunt, iusto quos a asperiores neque unde nobis quo, magni hic, quae consectetur doloribus debitis? Cum, ullam mollitia.
<br>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem mollitia in ea. Recusandae dicta, impedit sit blanditiis sequi corrupti ratione ducimus suscipit vitae commodi? Perferendis neque fugit consectetur dolores ducimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia dolores sit laboriosam doloribus officiis animi ducimus atque inventore quo rerum quod dignissimos sequi quis, in nemo expedita! Nobis, saepe ut?
</p>
<a href="/game_1">Start playing here</a>

{% endblock intruccions %}
